pip install transformers
pip install datasets
pip install faiss-cpu

# CPU:
pip install torch==2.0.1+cpu torchvision==0.15.2+cpu torchaudio==2.0.2+cpu -f https://download.pytorch.org/whl/cpu/torch_stable.html
# GPU với hỗ trợ CUDA:
pip install torch==2.0.1 torchvision==0.15.2 torchaudio==2.0.2 -f https://download.pytorch.org/whl/torch_stable.html
pip install python-dotenv