transformers
datasets
faiss-cpu

# Cài đặt phiên bản CPU của torch và các thư viện liên quan
torch==2.0.1+cpu
torchvision==0.15.2+cpu
torchaudio==2.0.2+cpu

# URL để tìm các tệp .whl của PyTorch (dành cho CPU)
-f https://download.pytorch.org/whl/cpu/torch_stable.html

python-dotenv